.wholeCard {
  height: 85vh;
  background-repeat: round;
  display: flex;
}

.moviesContainer {
  width: 75vw;
}

cdk-virtual-scroll-viewport {
  height: 75vh;
  width: 70vw;
}

.moviesContainer {
  text-align: left;
}

.description {
  position: relative;
  top: 15vh;
  display: inline;
  height: max-content;
  background: #424242;
}

.describeCollection {
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(to left, #69f0ae 0%, #673ab7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
  line-height: 40px;
}

.overView {
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(to left, #69f0ae 0%, #673ab7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

